body {
	background-color: #F7F6F2;
	color: #3D3232;
	font-family: "Alice", serif;
	font-size: 1.25rem;
	line-height: 2;
	margin: 0px;
	overflow-x: hidden;
}

#header {
	align:center;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom:0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

#footer {
	background-color: #000000;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 2%;
	width: 98%;
	color: #F7F6F2;
	font-size: 0.795rem;
	line-height: 1.975;
	clear: both;
}

#footer a:link {
	color: #AFE882A3; 
}

#footer a:visited {
	color: #AFE882A3;
}

.side-pic {
	width: 30%;
	padding-top: 2.125rem;
	padding-bottom: 2rem;
	padding-left: 10%;
}

.caption {
	font-size: 0.75rem;
	margin-top: 1.86%;
	display: inline-block;
	position: relative;
}

.highlight {
	background-color: #AFE882A3;
	display: inline-block;
	padding: 0px;
}

.sub-heading {
	font-size: 4rem;
	margin-left: 10%;
	line-height: 1.25;
}
